@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
  margin-top:5%;
  font-family: 'Patrick Hand', cursive;
}
#customers {
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even){
background-color: #f2f2f2;
}
#customers tr:hover {
background-color: #ddd;
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
img {
  width:28px;
}
footer {
	text-align: center;
	margin:3%;
	}
a {
	text-decoration:none;
	color:#04AA6D;
	}
